@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

[data-theme="dark"] .btn {
  padding-left: 3rem;
  padding-right: 3rem;
}

.transition-height {
  transition-property: height;
  transition-timing-function: ease; /* or your preferred timing function */
}

/* Bolded headers */
.font-header1-bold {
  font-weight: bold;
  font-size: 9rem;
}
.font-header2-bold {
  font-weight: bold;
  font-size: 7rem;
}
.font-header3-bold {
  font-weight: bold;
  font-size: 6rem;
}
.font-header4-bold {
  font-weight: bold;
  font-size: 5rem;
}
.font-header5-bold {
  font-weight: bold;
  font-size: 4rem;
}
.font-header6-bold {
  font-weight: bold;
  font-size: 3rem;
}
.font-header7-bold {
  font-weight: bold;
  font-size: 2rem;
}
/* Normal Headers */
.font-header1 {
  font-size: 8rem;
}
.font-header2 {
  font-size: 7rem;
}
.font-header3 {
  font-size: 6rem;
}
.font-header4 {
  font-size: 5rem;
}
.font-header5 {
  font-size: 4rem;
}
.font-header6 {
  font-size: 3rem;
}
.font-header7 {
  font-size: 2rem;
}
/* Paragraph */
.font-paragraph-bigger {
  font-size: 2rem;
}
.font-paragraph {
  font-size: 1.5rem;
}
.font-paragraph-smaller {
  font-size: 1.25rem;
}
.font-paragraph-tiny {
  font-size: 1rem;
}
/* Special */
.font-link {
  text-decoration: underline;
  color: "#F6F6F8";
  font-size: 1.5rem;
}
.font-lable-bigger {
  font-weight: bold;
  font-size: 1.5rem;
}
.font-lable {
  font-weight: bold;
  font-size: 1rem;
}


.text-gradient-pink-orange {
  background: linear-gradient(to right, #F1A1CC, #FFD19B);
  -webkit-background-clip: text;
  color: transparent;
  display: "inline";
}

.text-gradient-cyan-pink {
  background: linear-gradient(to right, #97D4D7, #F1A1CC);
  -webkit-background-clip: text;
  color: transparent;
  display: "inline";
}

.text-gradient-cyan-pink-orange {
  background: linear-gradient(to right, #97D4D7, #F1A1CC, #FFD19B);
  -webkit-background-clip: text;
  color: transparent;
  display: "inline";
}


/* SHAPE */
.hexagon::before {
  content: "";
  width: 100%;
  padding-top: 86.6%; /* Aspect ratio for the hexagon */
  float: left;
  shape-outside: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  border-radius: 8px; /* Adjust the border-radius as needed */
}


@keyframes scrollSlow {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vh);
  }
}

@keyframes scrollMedium {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-150vh);
  }
}

@keyframes scrollFast {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-200vh);
  }
}


/* .card-design {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), inset 0 2px 1px rgba(246, 246, 248, 0.6), inset 0 35px 60px rgba(246, 246, 248, 0.24), inset 0 -6px 27px rgba(246, 246, 248, 0.2), inset 0 -35px 60px rgba(28, 32, 33, 0.1), inset 0 6px 12px rgba(246, 246, 248, 0.4);
  backdrop-filter: blur(80px);
} */



.card-design {
  background-image: radial-gradient(at top center, rgba(31, 32, 33, 1), rgba(14, 15, 15, 1));
  border: 2px solid rgba(40, 40, 40, 0.2);
  position: relative;
}

.card-design::after {
  position: absolute;
  bottom: -12px;
  left: 0;
  content: "";
  width: 100%;
  height: 60px;
  border-radius: 30px;
  background-image: radial-gradient(at center, rgba(20, 20, 22, 1), rgba(20, 20, 22, 0));
  z-index: -1;
}

.text-pink-glow{
  text-shadow: 0 10px 30px rgba(241, 161, 204, 0.3);
}


.card-design-about {
  background-image: radial-gradient(at top left, rgba(31, 32, 33, 1), rgba(14, 15, 15, 1));
  border: 2px solid rgba(40, 40, 40, 0.2);
  position: relative;
}

.card-design-about::after {
  position: absolute;
  bottom: -12px;
  left: 0;
  content: "";
  width: 100%;
  height: 60px;
  border-radius: 30px;
  background-image: radial-gradient(at center, rgba(20, 20, 22, 1), rgba(20, 20, 22, 0));
  z-index: -1;
}

.card-design-translucent {
  /* background-color: #000000; */
  background-color: rgba(255,255,255,0.15);
  backdrop-filter: blur(16px) contrast(1.2) brightness(0.9);
}