@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-9xl font-bold;
  }
}
@layer components {
  h1 {
    @apply text-9xl font-bold;
  }
}
@layer utilities {
  h1 {
    @apply text-9xl font-bold;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

[data-theme="dark"] .btn {
  padding-left: 3rem;
  padding-right: 3rem;
}

.transition-height {
  transition-property: height;
  transition-timing-function: ease; /* or your preferred timing function */
}