@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-9xl font-bold;
  }
}
@layer components {
  h1 {
    @apply text-9xl font-bold;
  }
}
@layer utilities {
  h1 {
    @apply text-9xl font-bold;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

[data-theme="dark"] .btn {
  padding-left: 3rem;
  padding-right: 3rem;
}

.transition-height {
  transition-property: height;
  transition-timing-function: ease; /* or your preferred timing function */
}

/* Bolded headers */
.font-header1-bold {
  font-weight: bold;
  font-size: 9rem;
}
.font-header2-bold {
  font-weight: bold;
  font-size: 7rem;
}
.font-header3-bold {
  font-weight: bold;
  font-size: 6rem;
}
.font-header4-bold {
  font-weight: bold;
  font-size: 5rem;
}
.font-header5-bold {
  font-weight: bold;
  font-size: 4rem;
}
.font-header6-bold {
  font-weight: bold;
  font-size: 3rem;
}
.font-header7-bold {
  font-weight: bold;
  font-size: 2rem;
}
/* Normal Headers */
.font-header1 {
  font-size: 8rem;
}
.font-header2 {
  font-size: 7rem;
}
.font-header3 {
  font-size: 6rem;
}
.font-header4 {
  font-size: 5rem;
}
.font-header5 {
  font-size: 4rem;
}
.font-header6 {
  font-size: 3rem;
}
.font-header7 {
  font-size: 2rem;
}
/* Paragraph */
font.paragraph-bigger {
  font-size: 2rem;
}
font.paragraph {
  font-size: 1.5rem;
}
font.paragraph-smaller {
  font-size: 1.25rem;
}
font.paragraph-tiny {
  font-size: 1rem;
}
/* Special */
.font-link {
  text-decoration: underline;
  color: "#F6F6F8";
  font-size: 1.5rem;
}
.font-lable-bigger {
  font-weight: bold;
  font-size: 1.5rem;
}
.font-lable {
  font-weight: bold;
  font-size: 1rem;
}


.text-gradient-pink-orange {
  background: linear-gradient(to right, #F1A1CC, #FFD19B);
  -webkit-background-clip: text;
  color: transparent;
  display: "inline";
}

.text-gradient-cyan-pink {
  background: linear-gradient(to right, #97D4D7, #F1A1CC);
  -webkit-background-clip: text;
  color: transparent;
  display: "inline";
}